@font-face {
    font-family: "Light";
    src: url(/static/polices/Mont-ExtraLightDEMO.otf);
}


body,
html {
    height: 100%;
    font-family: "Light";
    padding-top: 5vh;
    background-color: #D3D3D3;
}

.anime-list-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    padding: 2vh;
    justify-content: center;
}
.Bac-img{
    width: 150%;
}

.not-found-container{
    flex-direction: column;
}