@font-face {
    font-family: "Heavy";
    src: url("/static/polices/Mont-HeavyDEMO.otf");
}

body,
html {
    height: 100%;
    font-family: "Light";
    padding-top: 5vh;
    background-color: #D3D3D3;
}

.random-anime {
    position: relative;
    color: white;
    background-image: url('{{.RandomAnime.MainImageURL}}');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.random-anime::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Dark overlay for better readability */
}

.random-anime * {
    position: relative;
    z-index: 1;
}



.random-anime-container {
    position: relative;
    width: 100%;
    min-height: 55vh;
    /* Hauteur minimale pour s'assurer qu'il ait toujours une certaine taille */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    color: white;
    margin-top: 3vh;
    border-radius: 15px;

    /* Couleur du texte */
}

.random-anime-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Assurez-vous que l'image couvre la zone */
    filter: blur(3px);
    /* Flou de fond pour l'esthétique */
    opacity: 0.7;
    /* Transparence pour que le texte ressorte */
}

.random-anime-content {
    position: relative;
    max-width: 60%;
    /* Largeur maximale du contenu */
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    /* Fond semi-transparent pour la lisibilité */
    border-radius: 8px;
    margin: 5vh;
    /* Coins arrondis pour le contenu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Ombre pour le relief */
    box-sizing: border-box;
    z-index: 2;
}

.random-anime-title {
    font-size: 2em;
    /* Taille du titre */
    margin-bottom: 0.5em;
}



.random-anime-synopsis {
    font-size: 1em;
    /* Taille du synopsis */
    line-height: 1.5;
}



.recent-animes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    padding: 2vh;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.card h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 16px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px 8px 0 0;
    position: relative;
    top: -1px;
    /* Overlaps the image slightly */
    text-align: center;
}

.card p {
    padding: 0 16px 16px;
    margin: 0;
    line-height: 1.5;
    color: #666;
}

.card p strong {
    color: #333;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}



.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Espacement entre les boutons */
    margin-top: 5vb;
    /* Espace au-dessus de la pagination */
    padding-bottom: 1vb;
}

.pagination-button {
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #0056b3;
}

.pagination span {
    padding: 5px 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
}


.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* assurez-vous que l'en-tête prend toute la largeur */
    background-color: #333;
    color: #fff;
    padding: 1vh 1vw;
    /* espace vertical basé sur la hauteur du viewport, espace horizontal basé sur la largeur */
    z-index: 10;
    /* assurez-vous que l'en-tête reste au-dessus des autres éléments */
    border-bottom: 1px solid #fff;
    /* ajout d'une bordure pour séparer l'en-tête du contenu */
    box-sizing: border-box;
    /* assure que le padding est inclus dans la largeur */
    border-radius: 10px;

}

.header-logo {
    width : 8vh;
    border-radius: 50%;
    margin-right: 15px;
    transition: transform 0.3s ease;

}

.header-logo:hover {
    transform: scale(1.05); /* Légèrement plus grand lorsque survolé */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.navbar a {
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    font-family: "Heavy";
}

.searchBox {
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 3vb
}