body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: #f2f2f2;
}

.site-header {
    background-color: #333;
    color: #fff;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
}

.searchBox {
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.card h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 16px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px 8px 0 0;
    position: relative;
    top: -1px;
    /* Overlaps the image slightly */
    text-align: center;
}

.card p {
    padding: 0 16px 16px;
    margin: 0;
    line-height: 1.5;
    color: #666;
}

.card p strong {
    color: #333;
}

@media (max-width: 992px) {
    .card {
        width: calc(50% - 20px);
        /* 2 cards per row on medium screens */
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
        /* 1 card per row on small screens */
    }
}